# Игнорируем папку виртуального окружения (Сценарий 3 из прошлых шагов)
.venv/
venv/
ENV/

# Игнорируем локальную папку с загруженными зависимостями (если использовали --target или download)
dependencies/
vendor/

# Игнорируем кэш Python (автоматически создаваемые папки)
**/__pycache__/
.pytest_cache/
.mypy_cache/

# Игнорируем файлы конфигурации среды с секретами (пароли к БД, ключи)
.env
.idea